.top {
  animation: rotate 15s infinite linear;
}

.middle {
  animation: rotate 18s infinite reverse linear;
}

.bottom {
  animation: rotate 20s infinite linear;
}

.blobs {
  transition: transform 5s;
}

.blobs:hover {
  transform: translate(100px, 100px) scale(0);
}

/* Icon color modifications */
.icon-android {
  filter: invert(70%) sepia(54%) saturate(800%) hue-rotate(90deg)
    brightness(110%) contrast(110%);
}

.icon-flavors {
  filter: invert(70%) sepia(54%) saturate(800%) hue-rotate(60deg)
    brightness(110%) contrast(110%);
}

.icon-github {
  filter: invert(70%) sepia(54%) saturate(800%) hue-rotate(120deg)
    brightness(110%) contrast(110%);
}

.icon-ios {
  filter: invert(70%) sepia(54%) saturate(700%) hue-rotate(80deg)
    brightness(110%) contrast(110%);
}

.icon-linux {
  filter: invert(70%) sepia(54%) saturate(900%) hue-rotate(85deg)
    brightness(110%) contrast(110%);
}

.icon-macos {
  filter: invert(70%) sepia(54%) saturate(700%) hue-rotate(75deg)
    brightness(110%) contrast(110%);
}

.icon-rest-api {
  filter: invert(70%) sepia(54%) saturate(750%) hue-rotate(95deg)
    brightness(110%) contrast(110%);
}

.icon-state-management-provider {
  filter: invert(70%) sepia(54%) saturate(900%) hue-rotate(110deg)
    brightness(110%) contrast(110%);
}

.icon-state-management-getX {
  filter: invert(22%) sepia(79%) saturate(685%) hue-rotate(2deg)
    brightness(100%) contrast(104%);
}

.icon-windows {
  filter: invert(70%) sepia(54%) saturate(700%) hue-rotate(95deg)
    brightness(110%) contrast(110%);
}

.icon-xcode {
  filter: invert(70%) sepia(54%) saturate(800%) hue-rotate(70deg)
    brightness(110%) contrast(110%);
}

@keyframes rotate {
  0% {
    transform: translate(100px, 100px) rotate(0deg);
  }
  100% {
    transform: translate(100px, 100px) rotate(359deg);
  }
}
